@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,700;1,900&display=swap');
body {
    box-sizing: border-box;
    font-family: 'Kulim Park', sans-serif;
font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#3E1F47, #212f45);
    color: white;
}



/*Inicio de Misión y visión*/


#misionVision, #breveDescripcion {
    display: flex;
    flex-direction: column;
}

section .cajaDescripcion, .cajaMisionVision {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.cajaDescripcion {
    background-color: aquamarine;
}


section .parrafoTituloMisionVision, .descripcionTituloParrafo {
    text-align: justify;
    width: 412px;
    padding: 2rem;
}

section .parrafoTituloMisionVision h3, .descripcionTituloParrafo h2 {
    text-align: center;
    padding-top: 1rem;
}

/*Tamaño de las imágenes*/

section .cajaImagenesMisionVision, .cajaImagenDescripcion {
    display: flex;
    justify-content: end;
    align-items: center;
}

section article .imagenMisionVision, .imagenDescripcion {
    width: 400px;
    border-radius: 10%;
    border: 3px (#212f45, #3E1F47);
}


