@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,700;1,900&display=swap");

body {
  box-sizing: border-box;
  font-family: "Kulim Park", sans-serif;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#3e1f47, #212f45) no-repeat;
  color: white;
}

/*CSS de Joan - Barra de NAvegación*/
img.logo {
  width: 7%;
  margin-left: 2%;
  /* background-color: red; */
}

header {
  display: flex;
  background-color: #dbbce4;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav_list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.nav_list li a {
  text-decoration: none;
  color: black;
  padding: 2rem;
}
.abrir_menu,
.cerrar_menu {
  display: none;
}

@media (max-width: 762px) {
  .abrir_menu,
  .cerrar_menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(100, 19, 138);
    box-shadow: 0 0 0 100vmax rgba(236, 236, 236, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav_list {
    flex-direction: column;
    align-items: end;
  }

  .nav_list li a {
    text-decoration: none;
    color: whitesmoke;
  }
}
/*contacto DANIELA*/
.form {
  background: linear-gradient(
    180deg,
    rgba(66, 43, 79, 0.97) 7%,
    rgba(76, 43, 79, 0.72) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 70vh;
  grid-column-start: 1;
  grid-column-end: 1;
  margin-left: 3vw;
  padding: 20px;
  border-radius: 20px;
}
.form label{
  font-weight: bold;
}
.form input,
.form textarea,
.form button {
  width: 70%;
  height: 36px;
  margin: 20px auto;
  border-radius: 10px;
  border: 1.5px solid #dc9d00;
  font-size: 10px;
  padding: 5px;
}
.form textarea {
  height: 10%;
}
.form button {
  background-color: #d8bae0;
  font-weight: 600;
}

.contacto {
  background: url("../assets/contacto.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center end;
}

/* css del footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background-color: #dbbce4;
  padding: 20px;
  color: rgb(8, 8, 8);
}

.logo-footer {
  /* Estilos para la sección del logo */
  width: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.sobre-nosotros {
  /* Estilos para la sección "Sobre nosotros" */
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  
}

li{
  /* Estilos para la sección "Sobre nosotros" */
  list-style-type: none; 
}

.redes {
  /* Estilos para la sección de redes sociales */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
}

.icon-footer{
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  padding: 2rem;
  /* box-shadow: ; */
}

a{
  color: rgb(12, 12, 12);
  text-decoration: none;
}
a:hover{
  color: rgb(49, 15, 201);
  font-size: 20px;
}

@media(max-width:901px){
  footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      background-color: #dbbce4;
      padding: 20px;
    }
}

@media(max-width:400px){
  footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      background-color: #dbbce4;
      padding: 20px;
    }

    .icon-footer{
      height: 300px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-around;
      padding: 2rem;
    }
}