@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Kulim Park", sans-serif;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
html{
  background: var(--main-bg-color);
}
main{
  background: rgb(33,47,69);
  background: linear-gradient(0deg, rgba(33,47,69,0.9248074229691877) 35%, rgba(62,31,71,1) 100%) ;
}
:root {
  --main-bg-color: #3E1F47;
  --main-cont-color: #ECFDFE;
  --main-bgd-color: #212F45;
}
img.logo {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: var(--main-cont-color);
  transition: all 1s ease-in-out;
}

header {
  display: flex;
  background-color: rgb(105, 20, 242);
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.nav_list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.nav_list li a {
  text-decoration: none;
  color: black;
  padding: 2rem;
}
.abrir_menu,
.cerrar_menu {
  display: none;
}
.contenedor-li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--main-cont-color);
  border-radius: 10px;
  border: solid 1.5px var(--main-bgd-color);
  text-align: center;
  width: 100px;
  height: 25px;
}
.contenedor-li:hover{
  transition: all 1s ease-in-out;
  font-size: 12px;
}
img.logo:hover{
  animation: rotate 3s infinite ease;
}
@keyframes rotate{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.back-logo{
  background-color: rgb(255, 55, 0);
}
.color-a{
  color: var(--main-cont-color) !important;
}
@media (max-width: 762px) {
  .abrir_menu,
  .cerrar_menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(100, 19, 138);
    box-shadow: 0 0 0 100vmax rgba(236, 236, 236, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav_list {
    flex-direction: column;
    align-items: end;
  }

  .nav_list li a {
    text-decoration: none;
    color: whitesmoke;
  }
}

.abrir_menu,
.cerrar_menu {
  display: none;
}

/*-----------CAJA INTRODUCCIÓN-----------*/

.cajaIntroduccion {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url(/assets/imagen-mision.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cajaIntroduccion p {
  font-size: 60px;
  background-color: rgba(100, 19, 138, 0.6306897759103641);
  color: white;
}


main div .introduccion {
  font-size: 60px;
  padding: 3rem;
  
}
/*Inicio de Misión y visión*/

section .cajaDescripcion,
.cajaMision,
.cajaVision {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}

section .parrafoDescripcionMisionVision h3,
section .parrafoDescripcionMisionVision h2 {
  text-align: center; 
  background-color: #3e1f47;
  opacity: 1.8; 
}

section .parrafoDescripcionMisionVision h3::after,
section .parrafoDescripcionMisionVision h2::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: inherit;
  filter: blur(25px);
  z-index: -1;
}

section .parrafoDescripcionMisionVision {
  text-align: justify;
  font-size: 30px;
  max-width: 80%;
  filter: contrast(120%);
}



.resaltado1 {
  background-color: rgb(100, 19, 138);
}
.resaltado2 {
  opacity: 150%;
}


/*Tamaño de las imágenes*/

section .cajaImagenesDescripcionMisionVision {
  display: flex;
  padding-top: 2rem;
  padding: 0;
  margin: 0;
  width: 60vw;
}

section .imagenesDescripcionMisionVision {
  width: 400px;
  border-radius: 15%;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
  border-style: groove;
  padding: 0;
  margin: 0;
  width: 90%;
}

/* ------------------------------------Articulo imagenes del equipo-------------------------------------------------*/

.contenedor__equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articulo-equipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 30%;
  height: 200px;
  text-align: center;
}
.contenedor {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contenedor-galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all 0.5s ease-in;
  align-items: center;
  width: 350px;
}
.contenedor-imagenp {
  display: flex;
  flex-direction: column;
  background: rgb(188, 189, 189);
  background: radial-gradient(
    circle,
    rgba(188, 189, 189, 0.5914740896358543) 0%,
    rgba(130, 130, 130, 0.6306897759103641) 100%
  );
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.contenedor-imagenp2 {
  display: flex;
  flex-direction: column;
  background: rgb(188, 189, 189);
  background: radial-gradient(
    circle,
    rgba(188, 189, 189, 0.5914740896358543) 0%,
    rgba(130, 130, 130, 0.6306897759103641) 100%
  );
  text-align: center;
  position: absolute;
  top: 70%;
  left: 150%;
  width: 350px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.contenedor-imagenp3 {
  display: flex;
  flex-direction: column;
  background: rgb(188, 189, 189);
  background: radial-gradient(
    circle,
    rgba(188, 189, 189, 0.5914740896358543) 0%,
    rgba(130, 130, 130, 0.6306897759103641) 100%
  );
  text-align: center;
  position: absolute;
  top: 70%;
  left: 250%;
  width: 250px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.contenedor-imagenp4 {
  display: flex;
  flex-direction: column;
  background: rgb(188, 189, 189);
  background: radial-gradient(
    circle,
    rgba(188, 189, 189, 0.5914740896358543) 0%,
    rgba(130, 130, 130, 0.6306897759103641) 100%
  );
  text-align: center;
  position: absolute;
  top: 70%;
  left: 350%;
  width: 250px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.contenedor-galeria img {
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
}
img {
  width: 100%;
}
.contenedor-botones {
  display: flex;
  justify-content: space-around;
  background-color: green;
}
.boton {
  background: transparent;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.591) 0%,
    rgba(255, 255, 255, 0.631) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
}
.btn-atras {
  position: absolute;
  top: 50%;
  left: 0;
}
.btn-sig {
  position: absolute;
  top: 50%;
  right: 0;
}

/*---------MEDIA QUERY ---------*/

@media (max-width: 762px) {
  .abrir_menu,
  .cerrar_menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(100, 19, 138);
    box-shadow: 0 0 0 100vmax rgba(236, 236, 236, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav_list {
    flex-direction: column;
    align-items: end;
  }

  .nav_list li a {
    text-decoration: none;
    color: whitesmoke;
  }

  /*-----------CAJA INTRODUCCIÓN-----------*/

  .cajaIntroduccion {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 20vh;
    background-image: url(/assets/imagen-mision.gif);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .cajaIntroduccion:hover {
    filter: blur(0px);
  }

  .introduccion {
    font-size: 20px;
    padding: 3rem;
  }

  hr {
    padding: 0;
    margin: 0;
  }

  /*----CONTENIDO DE LA PÁGINA-----*/

  section .cajaDescripcion,
  .cajaMision,
  .cajaVision {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    width: 100vw;
    margin: 0;
  }

  section .parrafoDescripcionMisionVision h3,
  h2 {
    text-align: center;
  }

  section .parrafoDescripcionMisionVision {
    text-align: justify;
    font-size: 20px;
    max-width: 80%;
  }

  /*Tamaño de las imágenes*/

  section .cajaImagenesDescripcionMisionVision {
    display: flex;
    padding-top: 2rem;
    padding: 0;
    margin: 0;
    width: 80vw;
  }

  section .imagenesDescripcionMisionVision {
    border-radius: 15%;
    border: 8px solid #212f45;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
