@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,700;1,900&display=swap");

body {
  box-sizing: border-box;
  font-family: "Kulim Park", sans-serif;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#3e1f47, #212f45) no-repeat;
  color: white;
}

/*CSS de Joan - Barra de NAvegación*/
img.logo {
  width: 7%;
  margin-left: 2%;
  /* background-color: red; */
}

header {
  display: flex;
  background-color: #dbbce4;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav_list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.nav_list li a {
  text-decoration: none;
  color: black;
  padding: 2rem;
}
.abrir_menu,
.cerrar_menu {
  display: none;
}

@media (max-width: 762px) {
  .abrir_menu,
  .cerrar_menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(100, 19, 138);
    box-shadow: 0 0 0 100vmax rgba(236, 236, 236, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav_list {
    flex-direction: column;
    align-items: end;
  }

  .nav_list li a {
    text-decoration: none;
    color: whitesmoke;
  }
}

/*--------------CONTENIDO--------------*/

#contenido {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.contenedor-productos {
    display: flex;
    width: 90vw;
    height: 100vh;
    flex-wrap: wrap;
    background-color:aquamarine;
    justify-content: space-around;
}

.Productos-card {
    background-color: aqua;
    color: black;
    width: 400px;
    height: 300px;
    padding: 2rem;
}



/*--------FOOTER--------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #dbbce4;
    padding: 20px;
    color: rgb(8, 8, 8);
  }
  
  .logo-footer {
    /* Estilos para la sección del logo */
    width: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  

  @media(max-width:901px){
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        background-color: #dbbce4;
        padding: 20px;
      }
  }
  
  @media(max-width:400px){
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        background-color: #dbbce4;
        padding: 20px;
      }
  
      .icon-footer{
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content:space-around;
        padding: 2rem;
      }
  }