@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Kulim Park", sans-serif;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background: var(--main-bg-color);
}
main{
  background: rgb(33,47,69);
  background: linear-gradient(0deg, rgba(33,47,69,0.9248074229691877) 35%, rgba(62,31,71,1) 100%) ;
}
:root {
  --main-bg-color: #3E1F47;
  --main-cont-color: #ECFDFE;
  --main-bgd-color: #212F45;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  backdrop-filter: blur(20px);
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px 50px;
  border-radius: 0 0 20px 20px;
}

img.logo {
  height: 60px;
  width: 60px;
  transition: all 1s ease-in-out;
}
.contenedor-li.page{
  border-bottom: 1px solid var(--main-bg-color);
}
.nav_list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}
.nav_list li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-cont-color);
  font-size: .8rem;
}
.abrir_menu,
.cerrar_menu {
  display: none;
}
.contenedor-li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  padding: 1rem 3rem;
  width: 100px;
  height: 25px;
}
.contenedor-li:hover{
  transition: all .3s ease-in-out;
  border-bottom: 1.5px solid rgb(255, 55, 0) ;
  font-size: 12px;
}
img.logo:hover{
  animation: rotate 3s infinite ease;
}
@keyframes rotate{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.back-logo{
  background-color: rgb(255, 55, 0);
}
.color-a{
  color: var(--main-cont-color) !important;
}



.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Formulario*/
.registro-vendedores {
  background: url("../assets/registro-vendedores.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.form {
  background: linear-gradient(
    180deg,
    rgba(66, 43, 79, 0.97) 7%,
    rgba(76, 43, 79, 0.72) 100%
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  height: 70vh;
  border-radius: 10%;
  padding: 2rem;
  align-items: center;
}

.form label {
  font-weight: bold;
  font-size: medium;
}

.form input,
.form textarea,
.form button {
  width: 150px;
  height: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1.5px solid #dc9d00;
  font-size: 15px;
}

.form textarea {
  height: 100px;
}

.form .cajaCampos,  input {
  width: 50%; /* Ajusta según tus necesidades */
}


/* css del footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background-color: #dbbce4;
  padding: 20px;
  color: rgb(8, 8, 8);
}

.logo-footer {
  /* Estilos para la sección del logo */
  width: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.sobre-nosotros {
  /* Estilos para la sección "Sobre nosotros" */
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  
}

li{
  /* Estilos para la sección "Sobre nosotros" */
  list-style-type: none; 
}

.redes {
  /* Estilos para la sección de redes sociales */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
}

.icon-footer{
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  padding: 2rem;
  /* box-shadow: ; */
}

a{
  color: rgb(12, 12, 12);
  text-decoration: none;
}
a:hover{
  color: rgb(49, 15, 201);
  font-size: 20px;
}


/*-----MEDIA QUERYS----------*/

@media (max-width: 762px) {

  .abrir_menu,
  .cerrar_menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(100, 19, 138);
    box-shadow: 0 0 0 100vmax rgba(236, 236, 236, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav_list {
    flex-direction: column;
    align-items: end;
  }

  .nav_list li a {
    text-decoration: none;
    color: whitesmoke;
  }
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/*Formulario*/
.registro-vendedores {
  background: url("../assets/registro-vendedores.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}






footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #dbbce4;
    padding: 20px;
  }

  