@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,700;1,900&display=swap');
body {
    box-sizing: border-box;
    font-family: 'Kulim Park', sans-serif;
font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#3E1F47, #212f45);
    color: white;
}


/*CSS de Joan - Barra de NAvegación*/
img.logo{
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

header{
    display:flex;
    background-color: rgb(100, 19, 138);
    align-items: center;
    justify-content:space-between;
    padding: 1rem;
}
.logo{
    max-width: 5rem;
}
.nav_list{
    display: flex;
    list-style-type: none;
    gap:1rem;
}
.nav_list li a {
    text-decoration: none;
    color: whitesmoke;
}
.abrir_menu,
.cerrar_menu{
    display: none;
}

@media (max-width: 800px) {
    .abrir_menu,
    .cerrar_menu{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

 
    .nav {
         opacity: 0;
        visibility: hidden; 
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        background-color: rgb(100, 19, 138);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(236, 236, 236, 0.5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav_list{
        flex-direction: column;
        align-items: end;
    }

    .nav_list li a {
        text-decoration: none;
        color: whitesmoke;
    }
}


/*Inicio de Misión y visión*/


#misionVision, #breveDescripcion {
    display: flex;
    flex-direction: column;
}

section .cajaDescripcion, .cajaMisionVision {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.cajaDescripcion {
    background-color: aquamarine;
}


section .parrafoTituloMisionVision, .descripcionTituloParrafo {
    text-align: justify;
    width: 412px;
    padding: 2rem;
}

section .parrafoTituloMisionVision h3, .descripcionTituloParrafo h2 {
    text-align: center;
    padding-top: 1rem;
}

/*Tamaño de las imágenes*/

section .cajaImagenesMisionVision, .cajaImagenDescripcion {
    display: flex;
    justify-content: end;
    align-items: center;
}

section article .imagenMisionVision, .imagenDescripcion {
    width: 400px;
    border-radius: 10%;
    border: 3px (#212f45, #3E1F47);
}


